<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>B&B/Login</title>
    <link rel="stylesheet" href="/static/styles.css" />
</head>

<body>

    <header>
        <div class="navbar">
            <div class="nav-1">
                <div class="nav-logo"></div>
            </div>  

            <div class="nav-2">
                <a href="/" class="nav-item"><span class="material-symbols-outlined">home</span> &nbsp; 
                    HOME
                </a>
            </div>
        </div>
    </header>

    <div style="text-align: center; font-size: larger; font-weight: 600;">You must sign in to use all features of the 'Browse&Book' website.</div>
    
    
    <form action="/login" class="login-form" method="post">
        <div class="signin">
            <div class="signin-logo"></div>
            <p>Sign in</p>

            <input type="text" name="username" placeholder="Username" class="signin-input" required />
            <input type="password" name="password" placeholder="Password" class="signin-input" required />

            <br />
            <div class="signin-error">
                {% if error %}
                <small style="color: red">{{ error }}</small>
                {% endif %}
            </div>

            <div class="singin-lower">
                <a href="register">Create account</a>
                <button class="signin-button" type="submit">Sign in</button>
            </div>
        </div>
    </form>
</body>

</html>
